apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    {{- include "microservice.labels" . | nindent 4 }}
spec:
  {{- with .Values.service }}
  type: {{ .type }}
  ports:
    - port: {{ .port | default $.Values.port }}
      targetPort: {{ .targetPort }}
      protocol: TCP
      name: {{ .name }}
  {{ end -}}
  selector:
    {{- include "microservice.selectorLabels" . | nindent 4 }}
